.wrapper{
    margin: 25px;
}

#nav{
    text-align: center;
    color: chartreuse;
    background-color: darkmagenta;
    position: fixed;
    top: 10;
    right: 10;
    width: 250px;
    border: 3px solid navy;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    opacity: .5;
}

body{
    background-color: honeydew;
}

#cat{
    height: 500px;
    width: 600px;
    border: hotpink;
    border-style: dotted;
    padding: 20px;
    position: relative;
    z-index: -1;
}